:root{
    --azul-oscuro: #5b6d82;
    --azul-logo: #225fa1;
    --azul-claro: #5987b9;
    --blanco: #fff;
    --negro: #000;
    --fondo-login: #3282b8;
    --background-botones: #0f4c75;
    --azul-cielo:#bbe1fa;
}
body{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--blanco);
    margin: 0;
    font-weight: normal;
    font-family: 'Overpass', sans-serif;
}
nav{
    background-color: var(--azul-logo);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.enlace{
    position:absolute;
    left: 0;
    margin-left: 25px;
}
.user{
    position: absolute;
    right: 10%;
}
.user img{
    color: var(--blanco);
    margin-right: 5px;
    width: 25px;
}
#containerUser{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    color: var(--blanco);
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: var(--blanco);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover{
    background-color: #ffffff63;
    transition: .5s;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.titulo {
    font-size: 250%;
    color:var(--blanco);
    text-align: left;
    margin-bottom: 20px;
}
.content {
    margin-top: 150px;
    width: 70%;
    padding: 30px 30px;
    background-color: var(--fondo-login);
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}
.containerBooks{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    width: 100%;
}
.libro{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    margin: 10px;
    width: 20%;
}
.libro .img{
    display: flex;
    justify-content: center;
    align-self: center;
}
.libro h1{
    text-align: center;
}
.libro p{
    margin: 10px;
}
.libro .img img{
    margin-top: 10px;
    width: 50%;
}
.button{
    border: none;
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    color: var(--azul-logo);
    background-color: var(--blanco);
}
.button:hover{
    background-color: var(--azul-logo);
    color: var(--blanco);
}