:root{
    --azul-oscuro: #5b6d82;
    --azul-logo: #225fa1;
    --azul-claro: #5987b9;
    --blanco: #fff;
    --negro: #000;
    --fondo-login: #3282b8;
    --background-botones: #0f4c75;
    --azul-cielo:#bbe1fa;

}

