:root{
    --azul-oscuro: #5b6d82;
    --azul-logo: #225fa1;
    --azul-claro: #5987b9;
    --blanco: #fff;
    --negro: #000;
    --fondo-login: #3282b8;
    --background-botones: #0f4c75;
    --azul-cielo:#bbe1fa;

}
*{
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.titulo {
    font-size: 250%;
    color:var(--azul-cielo);
    text-align: center;
    margin-bottom: 20px;
}
#formContact {
    width: 70%;
    height: 55%;
    padding: 50px 30px;
    background-color: var(--fondo-login);
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}
#formContact input {
    text-align: center;
    font-size: 110%;
    color: var(--negro);
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}
#formContact textarea{
    text-align: center;
    font-size: 110%;
    color: var(--negro);
    
    display: block;
    width: 100%;
    height: 80px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}
#formContact button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: var(--negro);
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: var(--azul-cielo);
    
    margin-top: 10px;
}
#formContact button:hover {
    background-color:  var(--background-botones);
    color:var(--blanco);
}